{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "solidityVersion": "^0.8.0",
  "solidityArrayFormatting": "always"
}
